    <div class= "titleContainer">
      <h1> Hello, Welcome to your profile </h1>
    </div>
<article class="postCard">
  <div class="card-header flex-row justify-space-between">
    <h2>{{post.title}}</h2>
    <div>
      Posted by {{post.User.username}} on {{format_date post.createdAt}}
    </div>
  </div>
  <div class="card-body">
    {{post.body}}
  </div>
</article>
    <div class="postButton">
        <div class="postButton">
            <button type="submit" class="btn btn-default btn-outline-darker" style="background-color: maroon; color: white; font-weight: bolder;" id="post-btn"> + New Post </button>
        </div>
        </div>

<script src="/js/addPost.js"></script>