    <div class="navContainer" style="background-color: maroon;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style= "padding: 0px; width: 100vw; ">
        <div class="container-fluid" style="background-color: maroon;">
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="background-color: maroon;">
            <div class="navbar-nav">
              <a class="nav-link" href="#" style="color: rgb(174, 185, 174);">Home</a>
              <a class="nav-link" href="#" style="color: rgb(174, 185, 174);">Dashboard</a>
              <a class="nav-link" href="#" style="color: rgb(174, 185, 174);">Logout</a>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class= "titleContainer">
      <h1> ${ user } Dashboard </h1>
    </div>
<article class="postCard">
  <div class="card-header flex-row justify-space-between">
    <h2>{{post.title}}</h2>
    <div>
      Posted by {{post.User.username}} on {{format_date post.createdAt}}
    </div>
  </div>
  <div class="card-body">
    {{post.body}}
  </div>
</article>
    <div class="postButton">
        <div class="postButton">
            <button type="submit" class="btn btn-default btn-outline-darker" style="background-color: maroon; color: white; font-weight: bolder;" id="post-btn"> + New Post </button>
        </div>
        </div>