
    <div class="navContainer" style="background-color: maroon;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style= "padding: 0px; width: 100vw; ">
        <div class="container-fluid" style="background-color: maroon;">
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="background-color: maroon;">
            <div class="navbar-nav">
              <a class="nav-link" href="/" style="color: rgb(174, 185, 174);">Home</a>
              <a class="nav-link" href="/dashboard" style="color: rgb(174, 185, 174);">Dashboard</a>
              <a class="nav-link" href="/login" style="color: rgb(174, 185, 174);">Login</a>
              <a class="nav-link" href="/" style="color: rgb(174, 185, 174);">Logout</a>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class= "titleContainer">
      <h1>The Tech Blog</h1>
    </div>
    <div class= "loginContainer">
      <div class ="innerLoginContainer">
        <h2 style="background-color: maroon;">Login</h2>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label" style="font-weight: bold;">Username</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="enter email here">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlPasswordInput1" class="form-label" style="font-weight: bold;">Password</label>
          <input type="password" class="form-control" id="exampleFormControlPasswordInput1" placeholder="enter password here">
        </div>
        <div class="loginRow">
          <div class="loginFormBtnLogin">
              <button type="submit" class="btn btn-default btn-outline-darker" style="background-color: grey; color: white" id="Login-btn"> Login! </button>
          </div>
          </div>
          <div class="loginTrouble">
            <!-- account recovery/sign up page main.handlebars? -->
            <a href="/signup" title="create account page.">Sign Up Instead!</a>
        </div>
      </div>
    </div>

    <script src="../public/js/login.js"></script>