    
      <div class= "loginContainer" style="background-color: rgb(174, 185, 174);">
    <div class="container">
        <div class="loginRow1">
            <div class= "col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto  p-4">
                <h1 class="projectTitle" style="color: maroon; font-weight: bolder;"> Tech Blog Sign Up </h1>
                <div class="loginForm">
                    <label for="loginFormName" style="color: maroon;">Name</label>
                    <input type="text" class="form-control" id="name-input" style="background-color: white;" placeholder="Enter Your Name Here">
                </div>
                <div class="loginForm">
                    <label for="loginFormEmail" style="color: maroon;">Email</label>
                    <input type="text" class="form-control" id="email-input" style="background-color: white" placeholder="Enter Your Email Here">
                </div>
                <div class="loginForm">
                    <label for="loginFormPassword" style="color: maroon;">Password</label>
                    <input type="password" class="form-control" id="password-input" style="background-color: white" placeholder="Enter Your Password Here">
                </div>
        </div>
        <div class="loginRow2">
                <div class="loginFormBtnSignUp">
                    <button type="submit" class="btn btn-default btn-outline-darker" style="background-color: gray; color: maroon; font-weight: bolder;" id="signup-btn" > Sign up </button>
                </div>
                </div>
        </div>
    </div>
  
    <div class="loginTrouble">
        <!-- link to sign in existing user... (login.handlebars) -->
        <p> Already have an Account? <a href="/" title="user login page">click here</a>
    </div>
    </div>